*{
    font-family: poppins;
}
nav h2{
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}
nav{
    display: flex;
    flex-wrap:nowrap;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    width: 100%;
}
.logo{
    width: 20%;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.menu{
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}
.menu ul{
    list-style: none;
    height: auto;
    position: absolute;
    right: 10%;
}
.menu li{
    color: #fff;   
    display: inline;
    font-size: .75rem;
    margin-right: 5rem;
}
#tt{
    position: relative;
    background-color: blue;
    width: 75%;
    height: 20rem;
    margin-top: .2rem;
}
table{
    width: 75%;
    border: 2px solid black;
}
table tr{
    margin: .2rem;
    border: 2px solid black;
}
table tr td{
    background-color: aliceblue;
    border: 2px solid black;
}